<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Choose your background</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>

        {% embed "header.html.twig" %}
        {% endembed %}

        <section class='main group'>

            <form action = '/stats' method='post'>

                {% for background in backgrounds %}
                <div class = "col-sm-6">
                    <div class='background_select'>
                        <input id = '{{ background.getId }}' type='radio' name = 'background_id' value = '{{ background.getId }}'>
                        <label for = '{{ background.getId }}'>

                            <h3>{{ background.getName }}</h3>
                            <p>{{ background.getDescription }}</p>
                        </label>
                    </div>
            </div>
                {% endfor %}

                <button type='submit'>Roll your stats -></button>
            </form>
            <p> </p><br>
            <form action='/class' method='get'>
                <button type="submit">Return to Class Select</button>
            </form>
        </section>

        {% embed "progress.html.twig" %}
        {% endembed %}

        {% embed "footer.html.twig" %}
        {% endembed %}

    </body>
</html>
