<html>
    <head>
        <title>Choose your class</title>
    </head>
    <body>

        <form action = '/background' method='post'>
            <input id="race_id" name="race_id" type="hidden" value="{{ race_id }}">


        {% for class in classes %}

            <label for = '{{ class.getId }}'>
                <div class='class_select'>

                    <input type='radio' name = 'class_id' value = '{{ class.getId }}' required>
                        <h3>{{ class.getName }}</h3>
                        <p>{{ class.getDescription }}</p>
                </div>
            </label>
            <hr>

        {% endfor %}


            <button type='submit'>Choose your background -></button>

            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 17%'></span>
            </div>

        </form>
    </body>
</html>
