<html>
    <head>
        <title>Choose your class</title>
    </head>
    <body>

        <form action = '/class' method='post'>
        <input id="race_id" name="race_id" type="hidden" value="{{ race_id.getId() }}">

        {% for class in classes %}

        <label for = '{{ class.getName }}'>
            <div class='class_select'>
                <input type='radio' name = 'class' value = '{{ class.getName }}'>
                    <h3>{{ class.getName }}</h3>
                    <p>{{ class.getDescription }}</p>
            </div>
        </label>
        <hr>

        {% endfor %}


            <button type='submit'>Get your stats -></button>

            <!-- https://css-tricks.com/css3-progress-bars/ -->
            <div class="progress">
                <span style='width: 17%'></span>
            </div>

        </form>
    </body>
</html>
