<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Choose your class</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>

        {% embed "header.html.twig" %}
        {% endembed %}

        <section class="main group">

            <form action = '/background' method='post'>

                {% for class in classes %}
            <div class = "col-sm-6">
                    <div class='class_select'>
                        <input id = '{{ class.getId }}' type='radio' name = 'class_id' value = '{{ class.getId }}' required>
                        <label for = '{{ class.getId }}'>

                            <h3>{{ class.getName }}</h3>
                            <p>{{ class.getDescription }}</p>
                        </label>

                    </div>
            </div>
                {% endfor %}

                <button type='submit'>Choose your background -></button>

            </form>
            <br>


            <form action='/race' method='get'>
                <button type="submit">Return to Race Select</button>
            </form>


        </section>
        {% embed "progress.html.twig" %}
        {% endembed %}

        {% embed "footer.html.twig" %}
        {% endembed %}
    </body>
</html>
