<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<<<<<<< HEAD
        <title>Choose your race</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>
        {% embed "header.html.twig" %}
        {% endembed %}
        <div class="container">
            <form action = '/class' method='post'>

        <section class="main group">

        <h2 class="main__title">Choose Your Race</h2>


        <form action = '/class' method='get'>
<div class = "col-xs-12">

                {% for race in races %}
                <div class = "col-sm-6">

                    <input id = '{{ race.getId }}' type='radio' name='race_id' value='{{ race.getId }}' required>
                    <label for='{{ race.getId }}' class='choice_radio' >
                        <h3>{{ race.getName }}</h3>
                        <p>{{ race.getDescription }}</p>
                    </label>
                </div>

                {% endfor %}
</div>
<br>
                <button type='submit'>Choose your class -></button>

        </section>

        <br>


            </form>
        </div>

        {% embed "footer.html.twig" %}
        {% endembed %}

        </form>

    </body>

</html>
