<html>
    <head>
        <title>Roll your stats</title>
    </head>
    <body>

        <h3>Strength:</h3>
            <p>{{ strength.getRoll }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Dexterity:</h3>
            <p>{{ dexterity.getRoll }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Constitution:</h3>
            <p>{{ constitution.getRoll }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Intelligence:</h3>
            <p>{{ intelligence.getRoll }}</p>
            <p>***Flavor text***</p>


        <h3>Wisdom:</h3>
            <p>{{ wisdom.getRoll }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Charisma:</h3>
            <p>{{ charisma.getRoll }}</p>
            <p>***Flavor text***</p>
        <br>

        <button type='submit'>Choose your background -></button>


        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 34%'></span>
        </div>

    </body>
</html>
