<html>
    <head>
        <title>Roll your stats</title>
    </head>
    <body>


        <h3>Strength:</h3>
            <p>{{ stat.getStr }}</p>
            <p>***Flavor text***</p>
        <br>

        <h3>Dexterity:</h3>
            <p>{{ stat.getDex }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Constitution:</h3>
            <p>{{ stat.getCon }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Intelligence:</h3>
            <p>{{ stat.getInt }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Wisdom:</h3>
            <p>{{ stat.getWis }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Charisma:</h3>
            <p>{{ stat.getCha }}</p>
            <p>***Flavor text***</p>
        <br>

        <button type='submit'>Choose your skills -></button>


        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 34%'></span>
        </div>

    </body>
</html>
