<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Roll your stats</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>

        {% embed "header.html.twig" %}
        {% endembed %}

        <section class = "main group">
            <form action = '/skills' method='post'>

        {# stats are rolled and automaticly assigns a value to each stat.
        keep stat values hidden until user hits a button.
        the button reveals the hidden stat, which mimics the act of rolling dice, despite the stats being predetermined. #}
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <h3>Strength: </h3>
                        <h1>{{ str }}</h1>
                            <em>Bodily power</em>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <h3>Dexterity: </h3>
                        <h1>{{ dex }}</h1>
                            <em>Agility, reflexes, balance</em>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <h3>Constitution: </h3>
                        <h1>{{ con }}</h1>
                            <em>Health and stamina</em>
                        <br>
                    </div>
                </div>
                <div class="col-sm-12 padding">
                    <div class="col-sm-4">
                        <h3>Intelligence: </h3>
                        <h1>{{ int }}</h1>
                            <em>Recall and reasoning</em>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <h3>Wisdom: </h3>
                        <h1>{{ wis }}</h1>
                            <em>Perceptiveness and intution</em>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <h3>Charisma: </h3>
                        <h1>{{ cha }}</h1>
                            <em>Interpersonal interactions</em>
                        <br>
                    </div>
                </div>

                <button type="submit">Choose your skills -></button>
            </form>
            <p> </p><br>
            <form action='/background' method='get'>
                <button type="submit">Return to Background Select</button>
            </form>
        </section>
        {% embed "progress.html.twig" %}
        {% endembed %}

        {% embed "footer.html.twig" %}
        {% endembed %}
    </body>
</html>
