<html>
    <head>
        <title>Roll your stats</title>
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>




    <form action = '/bio' method='post'>

{# stats are rolled and automaticly assigns a value to each stat.
keep stat values hidden until user hits a button.
the button reveals the hidden stat, which mimics the act of rolling dice, despite the stats being predetermined. #}

        <h3>Strength:</h3>
            <p>{{ str }}</p>
            <p>***Flavor text***</p>
        <br>

        <h3>Dexterity:</h3>
            <p>{{ dex }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Constitution:</h3>
            <p>{{ con }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Intelligence:</h3>
            <p>{{ int }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Wisdom:</h3>
            <p>{{ wis }}</p>
            <p>***Flavor text***</p>
        <br>


        <h3>Charisma:</h3>
            <p>{{ cha }}</p>
            <p>***Flavor text***</p>
        <br>


        <button type="submit">Choose your skills -></button>
    </form>

        <form action='/background' method='get'>
            <button type="submit">Return to Background Select</button>
        </form>

        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 34%'></span>
        </div>

    </body>
</html>
