<html>
    <head>
        <title>Preview your charactor</title>
    </head>
    <body>

        <h1>{{ character.getName }}</h1>
        <p>{{ character.getAge }}</p>
        <p>{{ character.getGender }}</p>
        <p>{{ character.getHeight }}</p>
        <p>{{ character.getWeight }}</p>
        <p>{{ character.getEyeColor }}</p>
        <p>{{ character.getHairColor }}</p>
        <p>{{ character.getSkinTone }}</p>
        <p>{{ character.getAlignment }}</p>
        <p>{{ character.getMotivations }}</p>
        <p>{{ character.getFlaws }}</p>
        <p>{{ character.getOtherInformation }}</p>

        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 100%'></span>
        </div>

    </body>
</html>
