<html>
    <head>
        <title>Preview your charactor</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>

        <h1>Name: {{name}}<h1>
        <h4>Age: {{age}}</h4>
        <h4>Gender: {{gender}}</h4>
        <h4>Height: {{height}}</h4>
        <br>

        <h4>Eye Color: {{eye_color}}</h4>
        <h4>Hair Color: {{hair_color}}</h4>
        <h4>Skin Tone: {{skin_tone}}</h4>
        <h4>Alignment: {{alignment}}</h4>
        <br>

        <h2>Race: {{race}}<h2>
        <h2>Class: {{class}}<h2>
        <br>

        </h3>Background: {{background}}</h3>
        <br>
        <br>

        <h4>Strength: {{str}}</h4>
        <h4>Dexterity: {{dex}}</h4>
        <h4>Constitution: {{con}}</h4>
        <h4>Wisdom: {{wis}}</h4>
        <h4>Intelligence: {{int}}</h4>
        <h4>Charisma: {{cha}}</h4>
        <br>

        <h3>Skills: {{loadout}}</h3>
        <br>


        <h4>Other Information: {{other}}</h4>
        <br>


        <form action='/print' method='get'>
            <button type="submit">Print</button>
        </form>

        <form action='/new_race' method='get'>
            <button type="submit">Save and Create a New Character</button>
        </form>



        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 100%'></span>
        </div>

    </body>
</html>
