<html>
    <head>
        <title>Review your character</title>
    </head>
    <body>


        <h1> {{ charactor.getName }} </h1>
        <p> {{ charactor.getAge }}</p>
        <p> {{ charactor.Gender }}</p>
        <p> {{ charactor.Height }}</p>
        <p> {{ charactor.getEyeColor }}</p>
        <p> {{ charactor.getHairColor }}</p>
        <p> {{ charactor.getSkinTone }}</p>
        <p> {{ charactor.getAlignment }}</p>
        <p> {{ charactor.getMotivations }}</p>
        <p> {{ charactor.getFlaws }}</p>
        <p> {{ charactor.getOtherInformation }}</p>


        <a href ='/home'>Create a new charactor</a>

    </body>
</html>
