<html>
    <head>
        <title>Preview your charactor</title>
        <link href='https://fonts.googleapis.com/css?family=Overlock+SC' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel='stylesheet' href='./css/main.css'>
    </head>
    <body>

        {#<h1>Name: {{ app.request.session.get('name')}}<h1>
        <h4>Age: {{ app.request.session.get('age')}}</h4>
        <h4>Gender: {{ app.request.session.get('gender')}}</h4>
        <h4>Height: {{ app.request.session.get('height')}}</h4>
        <h4>Weight: {{ app.request.session.get('weight')}}</h4>
        <br>

        <h4>Eye Color: {{app.request.session.get('eye_color')}}</h4>
        <h4>Hair Color: {{app.request.session.get('hair_color')}}</h4>
        <h4>Skin Tone: {{app.request.session.get('skin_tone')}}</h4>
        <h4>{{app.request.session.get('alignment')}}</h4>
        <br>#}

        <h2>{{app.request.session.get('race')}}<h2>
        <h2>{{app.request.session.get('class')}}<h2>
        <br>

        {#</h3>{{app.request.session.get('background')}}</h3>
        <br>

        <h4>{{app.request.session.get('str')}}</h4>
        <h4>{{app.request.session.get('dex')}}</h4>
        <h4>{{app.request.session.get('con')}}</h4>
        <h4>{{app.request.session.get('wis')}}</h4>
        <h4>{{app.request.session.get('int')}}</h4>
        <h4>{{app.request.session.get('cha')}}</h4>
        <br>

        <h3>{{app.request.session.get('loadout')}}</h3>
        <br>


        <h4>{{app.request.session.get('other_information')}}</h4>
        <br>#}


        <!-- https://css-tricks.com/css3-progress-bars/ -->
        <div class="progress">
            <span style='width: 100%'></span>
        </div>

    </body>
</html>
